@media screen and (max-width: 1200px) {
  body {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer";
  }
}

@media screen and (max-width: 760px) {
  body {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }

  .header {
    grid-template-columns: auto;
  }
  .header nav a {
    font-size: 1em;
  }

  .header li + li {
    margin-left: 10px;
  }
  .header__logo {
    margin-bottom: 20px;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav ul li {
    flex: 1 0 60px;
  }
  .sidenav {
    padding: 0 30px;
  }

  .sidenav li {
    margin: 30px 30px 30px 0;
    display: block;
  }
  .sidenav {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
  }

  .sidenav::after {
    content: "⟶";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  footer {
    width: 100%;
    font-size: 1em;
  }

  footer p {
    text-align: center;
    color: white;
    padding: 0px;
  }
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media screen and (max-width: 462px) {
  .content {
    grid-template-columns: auto;
  }
}
